Repository apexedgesystems/seeker: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-local, cmake-format-local, cmake-lint-local, hadolint-local, iwyu-local

clang-format-local:
  name: clang-format (local)
  entry: clang-format -i
  language: system

cmake-format-local:
  name: cmake-format (local)
  entry: cmake-format -i
  language: system

cmake-lint-local:
  name: cmake-lint (local)
  entry: cmake-lint
  language: system

hadolint-local:
  name: hadolint (local)
  entry: hadolint
  language: system

iwyu-local:
  name: include-what-you-use (local)
  language: system
  pass_filenames: false
  entry: bash -lc 'command -v iwyu_tool.py >/dev/null 2>&1 || { echo "iwyu_tool.py not found, skipping"; exit 0; }; iwyu_tool.py -p "${BUILD_DIR:-build}" --max-threads=0 --quiet'

Scope cpp_tools aggregate target with PROJECT_NAME
  cmake/seeker/Targets.cmake
  mk/tools.mk
  tools/cpp/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Guard test subdirectories behind PROJECT_IS_TOP_LEVEL
  src/cpu/CMakeLists.txt
  src/device/CMakeLists.txt
  src/gpu/CMakeLists.txt
  src/memory/CMakeLists.txt
  src/network/CMakeLists.txt
  src/storage/CMakeLists.txt
  src/system/CMakeLists.txt
  src/timing/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Guard test subdirectories behind PROJECT_IS_TOP_LEVEL (#2)
  src/cpu/CMakeLists.txt
  src/device/CMakeLists.txt
  src/gpu/CMakeLists.txt
  src/memory/CMakeLists.txt
  src/network/CMakeLists.txt
  src/storage/CMakeLists.txt
  src/system/CMakeLists.txt
  src/timing/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Seeker v1.0.1
  CHANGELOG.md
  CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Seeker v1.0.1 (#3)
  CHANGELOG.md
  CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Identify aarch64 CPUs from HWCAP and MIDR; count cores by siblings
  src/cpu/README.md
  src/cpu/inc/CpuFeatures.hpp
  src/cpu/src/CpuFeatures.cpp
  src/cpu/src/CpuTopology.cpp
  src/cpu/utst/CpuFeatures_uTest.cpp
  src/cpu/utst/CpuTopology_uTest.cpp
  tools/cpp/cpu/cpu-info.cpp
  tools/cpp/cpu/cpu-snapshot.cpp
Due: clang-format-local, iwyu-local

Enumerate NVIDIA GPUs via NVML and PCI display controllers via sysfs
  src/gpu/README.md
  src/gpu/inc/GpuDriverStatus.hpp
  src/gpu/inc/GpuTopology.hpp
  src/gpu/inc/PcieStatus.hpp
  src/gpu/src/GpuDriverStatus.cpp
  src/gpu/src/GpuTopology.cpp
  src/gpu/src/PcieStatus.cpp
  src/gpu/utst/GpuDriverStatus_uTest.cpp
  src/gpu/utst/GpuTopology_uTest.cpp
  src/gpu/utst/PcieStatus_uTest.cpp
  tools/cpp/gpu/README.md
  tools/cpp/gpu/gpu-info.cpp
  tools/cpp/gpu/gpu-rtcheck.cpp
  tools/cpp/gpu/gpu-stat.cpp
Due: clang-format-local, iwyu-local

Report Wi-Fi link, SD/eMMC storage and the PREEMPT_DYNAMIC mode
  src/network/inc/InterfaceInfo.hpp
  src/network/src/InterfaceInfo.cpp
  src/network/utst/InterfaceInfo_uTest.cpp
  src/storage/inc/BlockDeviceInfo.hpp
  src/storage/src/BlockDeviceInfo.cpp
  src/storage/utst/BlockDeviceInfo_uTest.cpp
  src/system/inc/KernelInfo.hpp
  src/system/src/KernelInfo.cpp
  src/system/utst/KernelInfo_uTest.cpp
Due: clang-format-local, iwyu-local

Adapt rtcheck grading to aarch64 boards, IRQ rates and rlimits
  tools/cpp/cpu/cpu-rtcheck.cpp
  tools/cpp/memory/mem-rtcheck.cpp
  tools/cpp/storage/storage-rtcheck.cpp
  tools/cpp/system/sys-rtcheck.cpp
  tools/cpp/timing/README.md
  tools/cpp/timing/timing-rtcheck.cpp
Due: clang-format-local, iwyu-local

Add v1.1.0 changelog and per-domain test counts
  CHANGELOG.md
  README.md
Due: none

Document hasLink, SD/eMMC, PREEMPT_DYNAMIC and rtcheck rules
  src/network/README.md
  src/storage/README.md
  src/system/README.md
  tools/cpp/cpu/README.md
  tools/cpp/memory/README.md
  tools/cpp/storage/README.md
  tools/cpp/system/README.md
Due: none

Count Ethernet and InfiniBand links as NICs through isNicLinkType()
  CHANGELOG.md
  README.md
  src/memory/inc/HugepageStatus.hpp
  src/network/README.md
  src/network/inc/InterfaceInfo.hpp
  src/network/src/InterfaceInfo.cpp
  src/network/utst/InterfaceInfo_uTest.cpp
  src/storage/inc/BlockDeviceInfo.hpp
Due: clang-format-local, iwyu-local

Keep storage benchmarks within their time budget
  CHANGELOG.md
  README.md
  src/storage/README.md
  src/storage/inc/StorageBench.hpp
  src/storage/src/StorageBench.cpp
  src/storage/utst/StorageBench_uTest.cpp
  tools/cpp/storage/README.md
  tools/cpp/storage/storage-bench.cpp
Due: clang-format-local, iwyu-local

Run the storage benchmark tests in the serial timing lane
  src/storage/utst/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Drop the random-read file's cached pages before measuring
  CHANGELOG.md
  src/storage/README.md
  src/storage/inc/StorageBench.hpp
  src/storage/src/StorageBench.cpp
  tools/cpp/storage/README.md
Due: clang-format-local, iwyu-local

Report malformed storage-bench numbers as argument errors
  CHANGELOG.md
  tools/cpp/storage/storage-bench.cpp
Due: clang-format-local, iwyu-local

Sync before the interval would overflow and write only whole blocks
  CHANGELOG.md
  README.md
  src/storage/README.md
  src/storage/inc/StorageBench.hpp
  src/storage/src/StorageBench.cpp
  src/storage/utst/StorageBench_uTest.cpp
  tools/cpp/storage/README.md
  tools/cpp/storage/storage-bench.cpp
Due: clang-format-local, iwyu-local

Fail a benchmark whose sync fails
  CHANGELOG.md
  src/storage/README.md
  src/storage/inc/StorageBench.hpp
  src/storage/src/StorageBench.cpp
Due: clang-format-local, iwyu-local

Fail the random-write and fsync benchmarks on a failed sync
  CHANGELOG.md
  src/storage/README.md
  src/storage/inc/StorageBench.hpp
  src/storage/src/StorageBench.cpp
  tools/cpp/storage/README.md
Due: clang-format-local, iwyu-local

Keep storage benchmarks within their time budget
  CHANGELOG.md
  README.md
  src/storage/README.md
  src/storage/inc/StorageBench.hpp
  src/storage/src/StorageBench.cpp
  src/storage/utst/CMakeLists.txt
  src/storage/utst/StorageBench_uTest.cpp
  tools/cpp/storage/README.md
  tools/cpp/storage/storage-bench.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Path conditions:
  clang-format-local: any of: \.(c|cc|cpp|cxx|cu|cuh|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-format-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-lint-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.cache/|
  compile_commands\.json$
)
)
  hadolint-local: any of: (Dockerfile|\.Dockerfile)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.cache/|
  compile_commands\.json$
)
)
  iwyu-local: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.cache/|
  compile_commands\.json$
)
)
